
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align:center;
	margin-bottom: 8px;
	margin-top: 48px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	text-align:center;
	font-size: 18px;
	margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item {
    background-color: #E9E9E9;
    padding: 15px;
    width: 400px;
    height: 400px;
    margin: 40px;
    line-height: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align:center;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    border-radius: 10px;
    border:solid #E9E9E8;
}

a{
	text-decoration: none;
}

.flex-item:hover {
	border:solid #BCBBC7;
	box-shadow:0px 0px 45px grey;
}

.flex-item:hover .info {
	opacity: 0.8;
}

.info{
	transition: 0.5s;
	display: flex;
  	align-items: center;
  	justify-content: center;
	text-decoration: none;
	background-color: black;
	height: 20%;
	bottom: 0px;
	margin-top: 317px;
	border-radius: 10px;
	opacity: 0.5;
}

#it1{
	background-image: url(img/pattern1.png);
}

#it2{
	background-image: url(img/pattern2.png);
}

#p1{
	background-image: url(img/pattern.png);
}

#p2{
	background-image: url(img/p2.png);
}


@media only screen and (max-width: 767px) {
    
    .flex-container {
    justify-content: normal;
}

h1{
	display: none;
}

p{
	display: none;
}

    }
}